<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZHBaseApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2600ACB41E471E0000D6CC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2600ACCD1E471E0000D6CC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2600ACD81E471E0000D6CC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
